<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lobster+Two&family=Oleo+Script&display=swap" rel="stylesheet">
{{#if stories}}
	<section class="wrapper">
	<div class="container">
		<div class="row">
			{{!-- {{#each books}} --}}
			<div  class="col-sm-12 col-md-6 col-lg-4 mb-4">
				<i class="fa-solid fa-pen-to-square card-edit"></i>
				<i class="fa-solid fa-trash card-delete"></i>
				<div class="card text-white card-has-bg click-col" style="background-image:url('https://source.unsplash.com/600x900/?tech,street');">
					<img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
					<div class="card-img-overlay d-flex flex-column">
						<div class="card-body">
							{{!-- <a href="/books/{{__id}}"></a><small class="card-meta mb-2 text-white">{{title}}</small> --}}
							<h4 class="card-title mt-0 "><a class="text-white" herf="#">Goverment Lorem Ipsum Sit Amet Consectetur dipisi?</a></h4>
							<small><i class="far fa-clock"></i> October 15, 2020</small>
						</div>
						<div class="card-footer">
							<div class="media">
								<img class="mr-3 rounded-circle" src="https://assets.codepen.io/460692/internal/avatars/users/default.png" alt="Generic placeholder image" style="max-width:50px">
								<div class="media-body">
									<h6 class="my-0 text-white d-block">Oz Coruhlu</h6>
									<small>Director of UI/UX</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>  
		</div>
	</section>
{{else}}
<div class="no-books">
    <img src="../Images/nobooks.png" alt="">
	<h4 style="margin-top:20px; font-family:'Times New Roman', Times, serif">No books added...</h4>
</div>
{{/if}}























{{!-- <section style="margin-top: 4rem;" class="light">
		<div class="container py-2">
			<article class="postcard light blue">
				<a class="postcard__img_link" href="#">
					<img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title" />
				</a>
				<div class="postcard__text t-dark">
					<h1 class="postcard__title blue"><a href="#">Podcast Title</a></h1>
			<i class="fa-solid fa-pen-to-square card-edit"></i>
					<div class="postcard__subtitle small">
						<time datetime="2020-05-25 12:00:00">
							<i style="margin-right: 5px;" class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
						</time>
					</div>
					<div class="postcard__bar"></div>
					<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
					<ul class="postcard__tagbox">
						<li class="tag__item"><i style="margin-right: 5px;" class="fas fa-tag mr-2"></i>Podcast</li>
						<li class="tag__item"><i style="margin-right: 5px;" class="fas fa-clock mr-2"></i>55 mins.</li>
						<li class="tag__item play blue">
							<a href="#"><i style="margin-right: 5px;" class="fas fa-play mr-2"></i>Play Episode</a>
						</li>
					</ul>
				</div>
			</article> --}}
			{{!-- <article class="postcard light red">
				<a class="postcard__img_link" href="#">
					<img class="postcard__img" src="https://picsum.photos/501/500" alt="Image Title" />	
				</a>
				<div class="postcard__text t-dark">
					<h1 class="postcard__title red"><a href="#">Podcast Title</a></h1>
					<div class="postcard__subtitle small">
						<time datetime="2020-05-25 12:00:00">
							<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
						</time>
					</div>
					<div class="postcard__bar"></div>
					<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
					<ul class="postcard__tagbox">
						<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
						<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
						<li class="tag__item play red">
							<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
						</li>
					</ul>
				</div>
			</article>
			<article class="postcard light green">
				<a class="postcard__img_link" href="#">
					<img class="postcard__img" src="https://picsum.photos/500/501" alt="Image Title" />
				</a>
				<div class="postcard__text t-dark">
					<h1 class="postcard__title green"><a href="#">Podcast Title</a></h1>
					<div class="postcard__subtitle small">
						<time datetime="2020-05-25 12:00:00">
							<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
						</time>
					</div>
					<div class="postcard__bar"></div>
					<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
					<ul class="postcard__tagbox">
						<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
						<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
						<li class="tag__item play green">
							<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
						</li>
					</ul>
				</div>
			</article>
			<article class="postcard light yellow">
				<a class="postcard__img_link" href="#">
					<img class="postcard__img" src="https://picsum.photos/501/501" alt="Image Title" />
				</a>
				<div class="postcard__text t-dark">
					<h1 class="postcard__title yellow"><a href="#">Podcast Title</a></h1>
					<div class="postcard__subtitle small">
						<time datetime="2020-05-25 12:00:00">
							<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
						</time>
					</div>
					<div class="postcard__bar"></div>
					<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
					<ul class="postcard__tagbox">
						<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
						<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
						<li class="tag__item play yellow">
							<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
						</li>
					</ul>
				</div>
			</article> --}}
		</div>
	</section>