<section class="text-center">
  <div class="p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
        height: 300px;
        ">
        <img style="
            position: relative;
            bottom:3rem
        " src="https://www.library-management.com/uploads/60196c0c6f3a8_logo_.png" alt=""></div>

  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
    <div class="card-body py-5 px-md-5">
      <div class="row d-flex justify-content-center">
        <div>
            <img src="https://www.vawsum.com/wp-content/uploads/2021/08/Book-lover-amico-350x350.png" alt="">
        </div>
        <div class="col-lg-8">
            <div style="display: flex; justify-content:center; align-items:center " class="mb-4">
                <i style="font-size: 20px; margin-right: 10px" class="fas fa-book-reader"></i><h2 style="align-items:center;" class="fw-bold">Sign in</h2>
            </div>
            <a class="btn text-white" style="background-color: #dd4b39;" href="/auth/google" role="button">
               <i class="fab fa-google"><span style="margin-left: 1rem; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Log In With Google</span> </i>
            </a>
        </div>
      </div>
    </div>
</section>